 @font-face {
            font-family: Accidental Presidency ;
            src: url("{% static 'FirstLevel/fonts/accid_.ttf' %}");
            }

        @font-face {
            font-family: Arial Narrow;
            src: url("{% static 'FirstLevel/fonts/ARIALNB_2.ttf' %}");
            }

         body{
            background-color: black;
            background-image: url("{% static 'FirstLevel/images/4ps.png' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: 50% 57% ;
            background-size: 500px 450px;
            overflow:scroll;
            }
             ::-webkit-scrollbar {
              width: 0px;}

.course{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:50px;
}

h1{
    font-size: 36px;
    font-weight: 600;
    font-family: Accidental Presidency;
    color: white;
    text-align: left;
}

ol.breadcrumb{
    padding: 10px 16px;
    list-style: none;
    background-color:none;
    text-align: left;
}

ol.breadcrumb li{
    display: inline;
    font-size: 18px;
}

ol.breadcrumb li+li:before{
    padding: 8px;
    color: rgba(211,174,109,255);
    content: "/\00a0";
}

ol.breadcrumb li a{
    color: white;
    text-decoration: none;
}

ol.breadcrumb li a:hover{
    color: white;
    text-decoration: underline;
}

p{
    color:#777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}

.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;

}

.course-col{
    flex-basis:30%;
    background:white;
    border-radius: 48px;
    margin-bottom:5%;
    padding:50px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin:0px 0px;
    text-decoration:underline;
  text-decoration-color:#d3ae6d;
  margin-bottom:5px;
}


.course-col:hover{
    box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
}

.idfc{
    width:124px;
    padding:20px 20px;
}

.row2{
    margin-top:2%;
    display:flex;
    justify-content:space-around;
    width:100%;
  margin:auto;
  text-align:center;
  padding-top:50px;
  flex-direction: row;
}


 @media (max-width:850px) {
          .row,.row2{
            flex-direction: column;
          }