body{
    background-color: black;
    background-attachment: fixed;
    background-position: 50% 50% ;
    background-size: 500px 450px;
    color: white;
}
h1{
    font-family: Accidental Presidency;
    font-size: 2.8vw;
    margin-bottom:0px;
    position:fixed;
    background:black;
    width:100%;
    position:0px;
    margin-top:100px;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
   border: 1px solid #ddd;
   width : 126%;
 }


 th, td {
   text-align: centre;
   padding: 8px;
 }

 tr:nth-child(even){background-color: #f2f2f2}


.container::-webkit-scrollbar{width:0px;
display:none;
}
body{overflow:scroll;}
    ::-webkit-scrollbar {
    width: 0px;}
OL
 {
  float: right;
  list-style: none;
  margin-right: 20px;
  position: relative;
}

OL LI
{  float: left;
  display: inline-block;
  background:none;
  margin:0 5px;
  width:147px;
  TEXT-ALIGN: CENTER;
  WIDTH: 140PX;
  HEIGHT: 33PX;
  BACKGROUND: NONE;
    OPACITY: 26.8;
    LINE-HEIGHT: 31PX;
    MARGIN-RIGHT: 3PX;
    margin-bottom: 40px;
    PADDING-LEFT:0PX;
}
OL LI A
{
 TEXT-DECORATION: NONE;
 COLOR:white;
 FONT-SIZE: 13.4PX;
 padding:8px 1px;
 line-height: 30px;
}

.hide{
display:none;
border:2px solid #d3ae6d;
margin-top: 129px;
margin-right: 1337px;
width: 180px;
height: 76vh;
position:fixed;
overflow:scroll;
}
.frames1{
display:block;
}
OL.block a{
 text-decoration: none;
 height: 23px;
 width: 75px;
  display:block;
  padding-top: 8px;
  padding-left:17px;
  padding-right:6px;
  color: black;
  font-size: 14px;
  border-radius: 20px;
  background:linear-gradient(-45deg, #FFE000 ,#e65c00);
  cursor: pointer;

}
.frames{
margin-left: 184px;
/*max-width: 1330px;*/
width: 90%;
height: 76vh;
 position: fixed;
border: 2px solid rgb(211, 174, 109);
top: 0px;
margin-top: 155px ;
}

.frames1{
width:180px;
height:76vh;
border:2px solid #d3ae6d;
margin-top:128px;
position:fixed;
}
@media(max-width:1536px){
h1{
    font-family: Accidental Presidency;
    font-size: 2.8vw;
}
}
@media(max-width:1512px){
.frames{
 max-width: 1330px;
width:86%;
height:73vh;
}
.frames1,.hide{
height:73vh;
}
}
@media(max-width:1500px){
.frames{
max-width: 1330px;
width:84%;
height:73vh;
}
.frames1,.hide{
height:73vh;
}
h1{
font-size:2.9vw;
}
}
@media(max-width:1400px){
h1{
font-size:2.8vw;
}

.frames1,.frames,.hide{
height:74vh;
}
}
@media(max-width:1240px){
iframe.frames{
max-width: 1330px;
width:82%;
height:74vh;
}
.hide,.frames1{
height:74vh;
}
}
@media (max-width:1200px) {
h1{
    margin-top: 28px;
    background: none;
    left: 0%;
    max-width: 1605px;
    text-align: center;
    position: fixed;
    font-size:4vw;
}
.frames1{
display:none;
}
.hide{
display:block;
margin-top:85px;
}
iframe.frames{
margin-top:111px;
}
}
@media(max-width:1074px){
iframe.frames{
 max-width: 1330px;
width:79%;
height:74vh;
}
.hide{
height:74vh;

}
h1{
font-size:4vw;
}
}
@media(max-width:890px){
iframe.frames{
 max-width: 1330px;
width:73%;
height:76vh;
}
.hide{
height:76vh;
}
h1{
font-size:4vw;
}
}
@media(max-width:720px){
iframe.frames{
 max-width: 1330px;
width:68%;
height:76vh;
}
.hide{
height:76vh;
}
h1{
font-size:5vw;
}
}
@media(max-width:600px){
iframe.frames{
 max-width: 1330px;
width:58%;
height:76vh;
}
.hide{
height:76vh;
}
h1{
font-size:5vw;
}
}
@media(max-width:571px){
iframe.frames{
 max-width: 1330px;
width:58%;
height:76vh;
}
.hide{
height:76vh;
}
h1{
font-size:5vw;
}
}
@media(max-width:300px){
iframe.frames{
 max-width: 1330px;
width:43%;
height:77vh;
}
.hide{
height:77vh;
}
h1{
font-size:5vw;
}
}
@media(max-width:370px){
iframe.frames{
 max-width: 1330px;
width:38%;
height:77vh
}
.hide{
height:77vh;
}
h1{
font-size:5vw;
}
}