body{
    background-color: black;
    background-attachment: fixed;
    background-position: 50% 50% ;
    background-size: 500px 450px;
    color: white;
}

h1{
    font-family: Accidental Presidency;
    font-size: 36px;
}

.container::-webkit-scrollbar{width:0px;
display:none;
}
body{overflow:scroll;}
    ::-webkit-scrollbar {
    width: 0px;}
OL
 {
  float: right;
  list-style: none;
  margin-right: 20px;
  position: relative;
}

OL LI
{  float: left;
  display: inline-block;
  background:none;
  margin:0 5px;
  width:147px;
  TEXT-ALIGN: CENTER;
  WIDTH: 140PX;
  HEIGHT: 33PX;
  BACKGROUND: NONE;
    OPACITY: 26.8;
    LINE-HEIGHT: 31PX;
    MARGIN-RIGHT: 3PX;
    margin-bottom: 40px;
    PADDING-LEFT:0PX;
}
OL LI A
{
 TEXT-DECORATION: NONE;
 COLOR:#d3ae6d;
 FONT-SIZE: 13.4PX;
 padding:8px 1px;
 line-height: 30px;
}
OL LI A:HOVER{
box-shadow: 0 0 5px 0px rgb(211 ,174 ,109);
}
.hide{
display:none;
}
.frames1{
display:block;
}
OL.block a{
 text-decoration: none;
 height: 23px;
 width: 75px;
  display:block;
  padding-top: 8px;
  padding-left:17px;
  padding-right:6px;
  color: black;
  font-size: 14px;
  border-radius: 20px;
  background:linear-gradient(-45deg, #FFE000 ,#e65c00);
  cursor: pointer;

}
.frames{
margin-left: 184px;
max-width: 1330px;
width: 100%;
height: 76vh;
 position: fixed;
border: 2px solid rgb(211, 174, 109);
top: 0px;
margin-top: 155px ;
}

.frames1{
width:180px;
height:76vh;
border:2px solid #d3ae6d;
margin-top:128px;
position:fixed;
}

@media (max-width:1200px) {

.frames1{
display:none;
}
.hide{
display:block;
}
}
@media(max-width:1512px){
iframe.frames{
 max-width: 1330px;
width:86%;
}
}
@media(max-width:1496px){
iframe.frames{
max-width: 1330px;
width:84%;
}
}
@media(max-width:1240px){
iframe.frames{
max-width: 1330px;
width:82%;
}
}
@media(max-width:1074px){
iframe.frames{
 max-width: 1330px;
width:79%;
}
}
@media(max-width:890px){
iframe.frames{
 max-width: 1330px;
width:73%;
}
}
@media(max-width:720px){
iframe.frames{
 max-width: 1330px;
width:68%;
}
}
@media(max-width:600px){
iframe.frames{
 max-width: 1330px;
width:58%;
}
}
@media(max-width:300px){
iframe.frames{
 max-width: 1330px;
width:43%;
}
}
@media(max-width:370px){
iframe.frames{
 max-width: 1330px;
width:38%;
}

}