/* ----------------------------------parameters for 4PS in bottom----------- */

.princ{
  position: absolute;
  bottom: 25px;
  right: 10px;
  max-width:200px;
  width:25%;
  height:auto;
}

/* --------------------------------THIS IS FOR ALIGNMENT OF CENTER TEXT------------------- */

.text-box{
    width:90;
    color:rgb(242, 217, 56);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

 /* --------------------------THIS IS FOR VIEW US MORE BUTTON PADDING------------------------ */

.hero-btn{
    display: inline-block;
    text-decoration:none;
    color:black;
    border: 1px solid black;
    padding: 11px 10px;
    font-size: 13px;
    background: #d3ae6d;
    position: relative;
    cursor: pointer;
}

 /* ----------------------------------THIS IS VIEW US MORE BUTTON AFTER HOVER----------------------- */

.hero-btn:hover{
    border:1px solid black;
    border-radius: 85px;
    background: #d3ae6d;
    transition: 1.5s;
}


@media all and (max-width:808px) {
.text-box h1{
  font-size: 20px;
}
.text-box p{
  font-size: 15px;
  margin-bottom: 30px;
}
.hero-btn{
  display: inline-block;
  text-decoration:none;
  color:black;
  border: 2px solid black;
  padding: 8px 5px;
  font-size: 7px;
  background: #d3ae6d;
  cursor: pointer;
}
}