.first{
    text-align: center;
}

.table1{
    color: white;
    border-radius: 116px;
    margin-right: 0px;
    width:661px;
    height:182px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    float: left;
    animation: slideMe 2s ease-in;
    margin-top: 22px;
}

@keyframes slideMe{
    0%{
        transform: skewX(3deg) translateX(-900px);
    }
    100%{
        transform: skew(0deg);
    }
}

.table1:hover{
    box-shadow: 0 0 40px 0px  rgb(211 ,174 ,109);
}

.top{
    height:232px;
    width:825px;
}

.table2{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    border-radius: 116px;
    margin-right: 0px;
    width:661px;
    height:182px;
    vertical-align: middle;
    font-size: 20px;
    float:right;
    animation: slideMe2 4s ease-in;
}

@keyframes slideMe2{
    0%{
        transform: skewX(3deg) translateX(-1900px);
    }
    100%{
        transform: skew(0deg);
    }
}

.table2:hover{
    box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
}

.table3{
    margin-top: 85px;
    color: white;
    border-radius: 116px;
    width:661px;
    height:182px;
    animation: slideMe3 2s ease-in;
    font-size: 20px;
    float: left;
}

@keyframes slideMe3{
    0%{
        transform: skewX(3deg) translateX(-900px);
    }
    100%{
        transform: skew(0deg);
    }
}

.table3:hover{
    box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
}


.table4{
    margin-top: 85px;
    color: white;
    border-radius: 116px;
    width:661px;
    height:182px;
    animation: slideMe4 4s ease-in;
    margin-left: 181px;
    font-size: 20px;
    float: left;
}

@keyframes slideMe4{
    0%{
        transform: skewX(3deg) translateX(-1900px);
    }
    100%{
        transform: skew(0deg);
    }
}

.table4:hover{
    box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
}
