     @font-face {
          font-family: Accidental Presidency ;
          src: url("{% static 'FirstLevel/fonts/accid_.ttf' %}");
          }

      @font-face {
          font-family: Arial Narrow;
          src: url("{% static 'FirstLevel/fonts/ARIALNB_2.ttf' %}");
          }

      body{
          background-image: url({% static 'FirstLevel/images/back1.png' %});
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: 50% 90% ;
          padding-top: 0px;
          background-size: 550px 550px;
          background-color: black;
          overflow:hidden;
          }

      h1{
          color: white;
          font-family: Accidental Presidency;
          font-size: 36px;
          margin-bottom: 0px;
          margin-top:100px;
          }

      ol.oll li+li:before{
          padding: 8px;
          color: rgb(211,174,109);
          content: "/\00a0";
          }

      ol.oll {
          padding: 10px 16px;
          list-style: none;
          background-color:none;
          text-align: left;
          display:-webkit-box;
          margin-bottom:13px;
          }

      ol.oll li {
          font-size: 18px;
          }

      ol.oll li a{
          color: white ;
          text-decoration: none;
          }

      ol.oll li a:hover{
          color: white;
          text-decoration: underline;
          }
    .table1{
      /* background-image: linear-gradient(to right top, #dff11c, #ffb900, #ff773f, #ff2c79, #eb12b2); */
     /* background-color:rgb(211 ,174 ,109) ; */
      color: white;
      border-radius: 116px;
      margin-right: 0px;
      width:654px;
      height:182px;
      vertical-align: middle;
      text-align: center;
      font-size: 19px;
      float: left;
      animation: slideMe 4s ease-in;

    }

    @keyframes slideMe {
        0%{
          transform: skewX(3deg) translateX(-900px);
        }
        100%{
          transform: skew(0deg);
        }
    }
    .table1:hover{
     box-shadow: 0 0 40px 0px rgb(211 ,174 ,109); */
    }

    .top{
      height:232px;
      width:825px;
    }
    table img{
      height:auto;
      max-width:455px;
      width:100%;
      padding-bottom: 50px;
      padding-top: 41px;
    }


    .table2{
      margin-top: 108px;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
     /* background-color:rgb(211 ,174 ,109) ; */
     color: white;
     border-radius: 116px;
     margin-right: 0px;
     width:654px;
     height:182px;
     vertical-align: middle;
     font-size: 19px;
     float:right;
     animation: slideMe2 4s ease-in;

    }

    @keyframes slideMe2 {
        0%{
          transform: skewX(3deg) translateX(900px);
        }
        100%{
          transform: skew(0deg);
        }
    }

    .table2:hover{
      box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
    }

    .table3{
      margin-top: 85px;
     color: white;
     border-radius: 116px;
     width:654px;
     height:182px;
      animation: slideMe3 4s ease-in;
     /* vertical-align: middle; */
     font-size: 19px;
     float: left;
     /* padding: 20px; */
    }

    @keyframes slideMe3 {
        0%{
          transform: skewX(3deg) translateX(-900px);
        }
        100%{
          transform: skew(0deg);
        }
    }

    .table3:hover{
      box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
    }
    @media(max-width:1500px) {
    body{overflow:scroll;}
    ::-webkit-scrollbar {
    width: 0px;}

      .table1{
        margin-top: 85px;
       color: white;
       border-radius: 116px;
       width:654px;
       height:182px;
        animation: mymove1 2s  ease-in;

       /* vertical-align: middle; */
       font-size: 19px;
       float: left;
       /* padding: 20px; */
      }

      @keyframes mymove1 {
        0% {
                transform: translateY(-200%);
            }
            100% {
                transform: translateY(0);
            }
      }
    .table2{
      margin-top: 85px;
     color: white;
     border-radius: 116px;
     width:654px;
     height:182px;
      animation:  mymove2 6s   ease-in;

     /* vertical-align: middle; */
     font-size: 19px;
     float: left;
     /* padding: 20px; */
    }
    @keyframes mymove2 {
      0% {
        transform: translateY(-500%);
      }
      100% {
        transform: translateY(0);
      }
    }
    .table3{
      margin-top: 85px;
     color: white;
     border-radius: 116px;
     width:654px;
     height:182px;
      animation:  mymove3 10s   ease-in;

     /* vertical-align: middle; */
     font-size: 19px;
     float: left;
    }
    @keyframes mymove3 {
      0% {
        transform: translateY(-800%);
      }
      100% {
        transform: translateY(0);
      }
    }
    }
