
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial- scale 1.0">
    <title>ESSENCCIA OUTSOURCING</title>
    <link rel="stylesheet" href="{% static 'FirstLevel/css/Billing.css' %}">
</head>
<body>
{% if DEPARTMENT == 'OTR' %}
{{OTR}}
<form method="post", action="{% url 'basic_app:FULLERTON_OTR_BILLING' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <button class="button1" type="submit">Billing</button>
</form>
{{FR}}
<form method="post", action="{% url 'basic_app:FULLERTON_FR_BILLING' %}", enctype="multipart/form-data">
    {% csrf_token %}
    <button class="button1" type="submit">Billing</button>
</form>
{% else %}
<form method="post", enctype="multipart/form-data">
    {% csrf_token %}
    <button class="button1" type="submit">Billing</button>
</form>
{% endif %}
<div class="center">
<p3 style="color:white; border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px; font-size:13px;">BILLING {{PROCESS}}-{{DEPARTMENT}}</p3>
    <BR><BR>
{% if DEPARTMENT == 'HL' %}
    {% if PROCESS == 'IDFC' %}
        <table class="A1">
            <tr style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px">
            {% for col in columns %}
                <th style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px" >{{col}}</th>
            {% endfor %}
            </tr>
            {% for row in Billing %}
                <tr style="background-color:white;border:2px solid black;">
                {% for j in row %}
                    <td style="background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none; border-right:none; width:500px; height:17px">{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'RECOVERY' %}
    {% if PROCESS == 'FULLERTON' %}

        <table class="A2" style="margin-left:-100px;">
            <tr style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px">
            {% for col in columns %}
                <th style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px" >{{col}}</th>
            {% endfor %}
            </tr>
            {% for row in Billing %}
                <tr style="background-color:white;border:2px solid black;">
                {% for j in row %}
                    <td style="background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none; border-right:none; width:500px; height:17px">{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'TW' %}
    {% if PROCESS == 'IDFC' %}
        <table class="A3">
            <tr style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px">
            {% for col in columns %}
                <th style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px" >{{col}}</th>
            {% endfor %}
            </tr>
            {% for row in Billing %}
                <tr style="background-color:white;border:2px solid black;">
                {% for j in row %}
                    <td style="background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none; border-right:none; width:500px; height:17px">{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'TW' %}
    {% if PROCESS == 'L&T' %}
        <table class="A4">
            <tr style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px">
            {% for col in columns %}
                <th style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px" >{{col}}</th>
            {% endfor %}
            </tr>
            {% for row in Billing %}
                <tr style="background-color:white;border:2px solid black;">
                {% for j in row %}
                    <td style="background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none; border-right:none; width:500px; height:17px">{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'CD' %}
    {% if PROCESS == 'BAJAJ' %}
        <table class="A5" style="margin-left:-110px;">
            <tr style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px">
            {% for col in columns %}
                <th style="background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px; width:100px; height:17px" >{{col}}</th>
            {% endfor %}
            </tr>
            {% for row in Billing %}
                <tr style="background-color:white;border:2px solid black;">
                {% for j in row %}
                    <td style="background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none; border-right:none; width:500px; height:17px">{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endif %}
</div>
<br>
<p3 style="color:white; border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px; font-size:13px;">TOTAL PAYOUT :{{com}}{{Total_Payout12}}</p3>
<p3 style="color:white;">{{com2}}{{Total_Payout}}</p3>
<br>
<br>
<br>

{% if DEPARTMENT == 'HL' %}
    {% if PROCESS == 'IDFC' %}
        <a  class="button"href="{% url 'basic_app:IDFC_HL_BILLING_DOWNLOAD' %}">DOWNLOAD</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'TW' %}
    {% if PROCESS == 'L&T' %}
        <a  class="button"href="{% url 'basic_app:L_T_BILLING_DOWNLOAD' %}">DOWNLOAD</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'TW' %}
    {% if PROCESS == 'IDFC' %}
        <a  class="button"href="{% url 'basic_app:IDFC_TW_BILLING_DOWNLOAD' %}">DOWNLOAD</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'OTR' %}
    {% if PROCESS == 'FULLERTON' %}
        <a  class="button"href="{% url 'basic_app:FULLERTON_OTR_DOWNLOAD' %}">DOWNNLOAD</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'RECOVERY' %}
    {% if PROCESS == 'FULLERTON' %}
        <a  class="button"href="{% url 'basic_app:FULLERTON_BILLING_DOWNLOAD' %}">download</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'CD' %}
    {% if PROCESS == 'BAJAJ' %}
        <a class="button"href="{% url 'basic_app:BAJAJ_CD_BILLING_DOWNLOAD' %}">download</a>
    {% endif %}
{% endif %}

</body>
</html>