{% extends 'FirstLevel/home_base.html' %}
{% load static %}
{% block body_block %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="{% static 'FirstLevel/css/home.css'%}">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <H1>Welcome {{name}}</H1>
  <br>
  {% if DEPARTMENT == 'TW' and PROCESS == 'IDFC' and Emp_Status == 'MANAGER' %}
  <div class="hide" style="border:2px solid #d3ae6d;margin-top: 85px;margin-right: 1337px;width: 180px; position:fixed;overflow:scroll;">
       <OL class="dash" style="float:right;margin-left:0px;margin-top:22px;width: 145px;padding-left: 0px; height:600PX">
                <LI>
                    <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
                </LI>
                <LI>
                    <A HREF="{% url 'basic_app:IDFC_TW_SALARY' %}" target="AB"><STRONG>SALARIES</STRONG></A>
                </LI>
                <LI>
                    <A HREF= "{% url 'basic_app:IDFC_TW_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
                </LI>
                <LI>
                    <A href="{% url 'basic_app:IDFC_TW_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
                </LI>
                <LI>
                    <A HREF= "{% url 'basic_app:IDFC_TW_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
                </LI>
                <LI>
                    <A HREF= "{% url 'basic_app:IDFC_TW_EMPLOYEES' %}" target="AB"><STRONG>EMPLOYEES</STRONG></A>
                </LI>
                <OL class="block" style="margin-left:28px;">
                    <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
                </OL>
       </OL>
  </div>
      <iframe  class="frames1">
      </iframe>
  <iframe class="frames" src="salary.html" name="AB"></iframe>
  {% endif %}

  {% if DEPARTMENT == 'HL' and PROCESS == 'IDFC' and Emp_Status == 'MANAGER' %}
  <div class="hide" style="border:2px solid #d3ae6d;margin-top: 85px;margin-right: 1337px;width: 180px;position:fixed;overflow:scroll;">
       <OL class="dash" style="float:right;margin-left:0px;margin-top:22px;width: 145px;padding-left: 0px; height:600PX">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:IDFC_HL_SALARY' %}" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_HL_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_HL_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_HL_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_HL_EMPLOYEES' %}" target="AB"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <OL class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </OL>
       </OL>
  </div>
      <iframe class="frames1">
      </iframe>
  <iframe class="frames" src="IDFC-HL_Salary.html" name="AB"></iframe>
  {% endif %}

<!--  {% if DEPARTMENT == 'TW' and PROCESS == 'L&T' and Emp_Status == 'TL' %}-->
<!--  <iframe style="width:180px;height:650px;border:2px solid #d3ae6d;margin-top:129px;">-->
<!--  </iframe>-->
<!--  <iframe class="frames" src="salary.html" name="AB" style="margin-left: 184px; max-width: 1600PX
; width: 100%; height: 650px; position: fixed; border: 2px solid rgb(211, 174, 109); top: 0px !important; margin-top: 147px !important;">-->
<!--  </iframe>-->
<!--  {% endif %}-->

  {% if DEPARTMENT == 'CD' and PROCESS == 'BAJAJ' and Emp_Status == 'TL' %}
  <div class="hide">
       <OL class="dash" style="float:right;margin-left:0px;margin-top:22px;width: 145px;padding-left: 0px; height:600PX">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:BAJAJ_SALARY' %}" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_CD_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_CD_EMPLOYEES' %}" target="AB"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <OL class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </OL>
       </OL>
  </div>
  <iframe class="frames1">
  </iframe>
  <iframe class="frames" src="bajaj_salary.html" name="AB">
  </iframe>
  {% endif %}
  {% if DEPARTMENT == 'RECOVERY' and PROCESS == 'FULLERTON' and Emp_Status == 'MANAGER' %}
  <div class="hide" style="border:2px solid #d3ae6d;margin-top: 85px;margin-right: 1337px;width: 180px;position:fixed;overflow:scroll;">
       <OL class="dash" style="float:right;margin-left:0px;margin-top:22px;width: 145px;padding-left: 0px; height:600PX">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:MASTER_SALARY_FULLERTON' %}" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:FULLERTON_RECOVERY_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:FULLERTON_RECOVERY_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:FULLERTON_RECOVERY_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:FULLERTON_RECOVERY_EMPLOYEES' %}" target="AB"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <OL class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </OL>
       </OL>
  </div>
  <iframe class="frames1">
  </iframe>
  <iframe class="frames" src="FULLERTON_RECOVERY_SALARY.html" name="AB">
  </iframe>
  {% endif %}

  {% if DEPARTMENT == 'TW' and PROCESS == 'IDFC' and Emp_Status == 'TL' %}
  <div class="hide" style="border:2px solid #d3ae6d;margin-top: 85px;margin-right: 1337px;width: 180px;position:fixed;overflow:scroll;">
       <OL class="dash" style="float:right;margin-left:0px;margin-top:22px;width: 145px;padding-left: 0px; height:600PX">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:IDFC_TW_TL_SALARY' %}" target="AB"><STRONG>SALARY</STRONG></A>
            </LI>
            <LI>
                <A href="{% url 'basic_app:IDFC_TW_TL_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <OL class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </OL>
       </OL>
  </div>
  <iframe class="frames1">
  </iframe>
  <iframe class="frames" src="IDFC_TW_TL_ANALYSIS.html" name="AB">
  </iframe>
  {% endif %}

  {% if Emp_Status == 'TC' %}
  <br>
  <p style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">Your Fixed Salary is: </p>{{Emp_Salary}}
  <p style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;" >Your Incentive is: </p>{{Incentive}}
  <p style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;" >Your Total Salary is: </p>{{Final_Salary}}
  <br>
  <br>
      <table>
        <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
        {% for col in columns %}
            <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;" >{{col}}</th>
        {% endfor %}
        </tr>
        {% for row in excel %}
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for j in row %}
                <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
      </table>
      {% endif %}

      {% if Emp_Status == 'FOS' %}
      <br><br><br><br><br><br><br>
      <p class="like" style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">Your Fixed Salary for TW is: </p>{{Fixed_Payout_FOS}}
      <p class="like" style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:170px;">Your Incentive for TW is: </p>{{Incentive_Payout_FOS}}
      <p class="like" style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:260px;">Your Fixed Salary for FULLERTON is: </p>{{FULLERTON_INCENTIVE_FOS}}
      <p class="like" style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:240px;">Your Incentive for FULLERTON is: </p>{{FULLERTON_FIXED_FOS}}
      <p class="like" style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">Your Fixed for IDFC_HL is: </p>{{IDFC_HL_FIXED_FOS}}
      <p class="like" style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:210px;">Your Incentive for IDFC_HL is: </p>{{IDFC_HL_INCENTIVE_FOS}}
      <p class="like" style="  border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:135px;">Your Total Salary is: </p>{{Total_Salary_FOS}}
      <p style="color:white;text-align:center;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;  margin-left:750px;">IDFC-TW & L&T-TW</p>
      <br>
      <table class="one">
        <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
        {% for col in columns2 %}
            <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;">{{col}}</th>
        {% endfor %}
        </tr>
        {% for row in excel2 %}
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for j in row %}
                <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
      </table>
      <br>
      <p style="color:white;text-align:center;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;  margin-left:750px;">IDFC-TW & L&T-TW</p>
      <table class="two">
        <tr target="A" style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
        {% for col in columns3 %}
            <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;">{{col}}</th>
        {% endfor %}
        </tr>
        {% for row in excel3 %}
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for j in row %}
                <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
      </table>
      <br>
      <p style="color:white;text-align:center;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;  margin-left:750px;">FULLERTON-RECOVERY</p>
      <table class="three">
        <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
        {% for col in columns4 %}
            <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;">{{col}}</th>
        {% endfor %}
        </tr>
        {% for row in excel4 %}
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for j in row %}
                <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
      </table>
      <br>
      <p style="color:white;text-align:center;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;  margin-left:750px;">IDFC-HL</p>
      <table class="four">
        <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
        {% for col in columns5 %}
            <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;">{{col}}</th>
        {% endfor %}
        </tr>
        {% for row in excel5 %}
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for j in row %}
                <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
      </table>
      <br>
      <p style="color:white;text-align:center;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;  margin-left:750px;">IDFC-HL</p>
      <table class="five">
        <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
        {% for col in columns6 %}
            <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;">{{col}}</th>
        {% endfor %}
        </tr>
        {% for row in excel6 %}
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for j in row %}
                <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
      </table>
      {% endif %}
</body>
</html>
{% endblock %}
