{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial- scale 1.0">
    <title>ESSENCCIA OUTSOURCING</title>
    <link rel="stylesheet" href="{% static 'FirstLevel/css/home_base.css' %}">
    <link rel="icon" href="{% static 'FirstLevel/images/logo.png' %}" type="image/gif">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        UL LI{
            FLOAT:left;
            WIDTH:160PX;
            HEIGHT:33PX;
            BACKGROUND:NONE;
            OPACITY:.8;
            LINE-HEIGHT:31PX;
            MARGIN-RIGHT: 3PX
            }

        UL LI A{
            TEXT-DECORATION: NONE;
            COLOR:WHITE;
            DISPLAY: BLOCK;
            TEXT-ALIGN: CENTER;
            FONT-SIZE: 15PX;
            }
    </style>
</head>
<body>
<style>
 body{overflow:scroll;}
    ::-webkit-scrollbar {
    width: 0px;}

    @media (max-width:850px){
    .nav{display:none;
    }
</style>
<!--OK SEEN-->
{% if DEPARTMENT == 'TW' and PROCESS == 'IDFC' and Emp_Status == 'MANAGER' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:IDFC_TW_SALARY' %}" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_TW_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A href="{% url 'basic_app:IDFC_TW_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_TW_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_TW_EMPLOYEES' %}" target="AB"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>

    </NAV>

{% elif DEPARTMENT == 'CC' and PROCESS == 'SLICE' and Emp_Status == 'TL' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="#" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:SLICE_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A href="#" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:SLICE_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "#" target="AB"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>

    </NAV>

{% elif DEPARTMENT == 'AUTO' and PROCESS == 'MAGMA' and Emp_Status == 'MANAGER' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:MASTER_SALARY_MAGMA' %}" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:MAGMA_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A href="#" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:MAGMA_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "#" target="AB"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>

    </NAV>

<!--OK SEEN-->
{% elif PROCESS == 'IDFC' and DEPARTMENT == 'HL' and Emp_Status == 'MANAGER' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:IDFC_HL_SALARY' %}" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_HL_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_HL_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_HL_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:IDFC_HL_EMPLOYEES' %}" target="AB"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>

    </NAV>
<!--OK SEEN-->
{% elif PROCESS == 'BAJAJ' and DEPARTMENT == 'CD' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:BAJAJ_SALARY' %}" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_CD_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_CD_EMPLOYEES' %}" target="AB"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>

    </NAV>
<!--NOT OK-->
{% elif PROCESS == 'HERO' and DEPARTMENT == 'RECOVERY' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:BAJAJ_SALARY' %}" target="AB"><STRONG>SALARIES</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_BILLING' %}" target="AB"><STRONG>BILLING</STRONG></A>
            </LI>
            <LI>
                <A href=#><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:BAJAJ_MIS' %}" target="AB"><STRONG>FILE MANAGEMENT</STRONG></A>
            </LI>
            <LI>
                <A HREF= "{% url 'basic_app:employee_database' %}"><STRONG>EMPLOYEES</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>

    </NAV>
<!--NOT OK-->
{% elif DEPARTMENT == 'TW' and PROCESS == 'IDFC' and Emp_Status == 'TL' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A HREF="{% url 'basic_app:IDFC_TW_TL_SALARY' %}" target="AB"><STRONG>SALARY</STRONG></A>
            </LI>
            <LI>
                <A href="{% url 'basic_app:IDFC_TW_TL_ANALYSIS' %}" target="AB"><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>

    </NAV>
<!--NOT OK-->
{% elif DEPARTMENT == 'TW' and PROCESS == 'IDFC' and Emp_Status == 'TC' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A href=#><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>

    </NAV>
<!--OK SEEN-->
{% elif Emp_Status == 'FOS' %}
    <NAV class="top">

        <div class="logo" style="height:0px">
            <a href="{% url 'basic_app:index' %}">
                <IMG SRC="{% static 'FirstLevel/images/logo.png' %}">
            </a>
        </div>
        <UL class="nav" style="float:right; margin-left:0px;margin-top:22px">
            <LI>
                <A HREF="#"><STRONG>DASHBOARD</STRONG></A>
            </LI>
            <LI>
                <A href=#><STRONG>ANALYSIS</STRONG></A>
            </LI>
            <ul class="block">
                <A href="{% url 'basic_app:index' %}"><STRONG>LOGOUT</STRONG></A>
            </ul>
        </UL>
    </NAV>
{% endif %}
{% block body_block %}

{% endblock %}
</body>
</html>