{% extends 'FirstLevel/base.html' %}
{% load static %}
{% block body_block %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'FirstLevel/css/login.css' %}">
    <style>
        @font-face {
            font-family: Accidental Presidency ;
            src: url("{% static 'FirstLevel/fonts/accid_.ttf' %}");
            }

        @font-face {
            font-family: Arial Narrow;
            src: url("{% static 'FirstLevel/fonts/ARIALNB_2.ttf' %}");
            }
    </style>
</head>
<body>
    <DIV style="margin-left:570px; margin-right:530px; width:300px;">
        <H1 class='gos' style="margin-top:140px">COMPANY LOGIN</H1>
        <FORM class="boxx" action="{% url 'basic_app:user_login' %}" method="POST">
            {% csrf_token %}

            {{login_form.as_p}}
            <TABLE style="margin-right: 0px; margin-left: 70px;">
                <TH>
                    <STRONG><INPUT type="submit" name="" value="LOGIN"></STRONG>
                </TH>
                <TH></TH>
                <TH>
                    <A href="{% url 'basic_app:register' %}" STYLE="padding-left:22px;">New User?</A>
                </TH>
            </TABLE>
        </FORM>
    </DIV>
    <div class="error" style="text-align:center; margin-top:485px; color:white;">
        {{Error}}
        {{re}}
    </div>
</body>
</html>
{% endblock %}