{% extends 'FirstLevel/base.html' %}
{% load static %}
{% block body_block %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'FirstLevel/css/login.css' %}">
    <style>
        @font-face {
            font-family: Accidental Presidency ;
            src: url("{% static 'FirstLevel/fonts/accid_.ttf' %}");
            }

        @font-face {
            font-family: Arial Narrow;
            src: url("{% static 'FirstLevel/fonts/ARIALNB_2.ttf' %}");
            }
    </style>
</head>
<body>
        <H1 class='gos' style="margin-top:130px;position:fixed;right:50px;left:50px;">COMPANY LOGIN</H1>
        <FORM class="boxx" action="{% url 'basic_app:user_login' %}" method="POST">
            {% csrf_token %}

            {{login_form.as_p}}
            <div style=" margin: auto;width: 50%;padding: 10px;">
                <TABLE>
                    <TH>
                        <STRONG><INPUT type="submit" name="" value="LOGIN"></STRONG>
                    </TH>
                    <TH></TH>
                    <TH>
                        <A href="{% url 'basic_app:register' %}">New User?</A>
                    </TH>
                </TABLE>
            </div>
        </FORM>
    <div class="error" style="margin-top: 652px;position:fixed;right: 567px;left: 590px;margin-left: 10‒;margin-left: 78px;">
        {{Error}}
        {{re}}
    </div>
</body>
</html>
{% endblock %}