{% extends 'FirstLevel/base.html' %}
{% load static %}
{% block body_block %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'FirstLevel/css/register.css' %}">
</head>
<body>

        <H1 class="go">REGISTER HERE!</H1>

    <FORM class="boxs"  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="rohan">
            {{user_form.as_p}}
        </div>
        <INPUT style="margin-left:128px; margin-right:200px; height:42px; width:139px; font-size: large; text-align:center; padding-left:35px;padding-top:8px;" type="submit" name="" value="Register">
    </FORM>

    <div class="error">
        {{Error}}
    </div>
    <div>
    <img class="princ" src="{% static 'FirstLevel/images/4ps.png' %}">
    </div>
</body>
</html>
{% endblock %}



