{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial- scale 1.0">
    <title>ESSENCCIA OUTSOURCING</title>
    <link rel="stylesheet" href="{% static 'FirstLevel/css/salary.css' %}">
</head>
<style>
    body{overflow:scroll;}
    ::-webkit-scrollbar {
    width: 0px;}
</style>
<body>



<p3 style="color:white;">{{Salary_Update}}</p3>
<br>

{% if DEPARTMENT == 'RECOVERY' %}
    {% if PROCESS == 'FULLERTON' %}
        <p3 style="color:white;">{{OTR}}</p3>
        <form method="post", action="{% url 'basic_app:MASTER_SALARY_FULLERTON' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p3 style="color:white;font-family:accidental presidency">FULLERTON_FOS_SALARY</p3>
            <button class="button1" type="submit">Salary-FOS</button>
        </form>
        <div class="center">
            <p3 style="color:white;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">FOS SALARY {{PROCESS}}-{{DEPARTMENT}}</p3>
        </div>
        <br>
        <table class="T1">
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for col in columns %}
                <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;" >{{col}}</th>
            {% endfor %}
            </tr>
            {% for row in excel %}
                <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
                {% for j in row %}
                    <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    <br>
    <a CLASS="button" href="{% url 'basic_app:FULLERTON_SALARY_DOWNLOAD' %}">FULLERTON_RECOVERY_SALARY_FIXED_DOWNLOAD</a>
    {% endif %}
{% endif %}


{% if DEPARTMENT == 'TW' %}
    {% if PROCESS == 'IDFC' %}
        {% if Designation == 'MANAGER' %}
            <table style="border-color:black;">
                <tr>
                    <th>
                        <form method="post", action="{% url 'basic_app:IDFC_TW_SALARY_TC' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p3 style="color:white;font-family:accidental presidency">IDFC_TC_SALARY</p3>
                            <button class="button1" type="submit">Salary-TC</button>
                        </form>
                    </th>
                    <th>
                        <form method="post", action="{% url 'basic_app:IDFC_TW_SALARY' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p3 style="color:white;font-family:accidental presidency;">IDFC_FOS_SALARY</p3>
                            <button class="button2" type="submit">Salary-FOS</button>
                        </form>
                    </th>
                </tr>
            </table>
                <br>
                <div class="center">
                <p3 style="color:white;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">TC SALARY {{PROCESS}}-{{DEPARTMENT}}</p3>
                </div>
                <br>
                <table CLASS="T2">
                    <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
                    {% for col in columns123 %}
                        <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;" >{{col}}</th>
                    {% endfor %}
                    </tr>
                    {% for row in excel123 %}
                        <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
                        {% for j in row %}
                            <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <div class="center">
                <p3 style="color:white; border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">FOS INCENTIVE SALARY {{PROCESS}}-{{DEPARTMENT}}</p3>
                </div>
                <br>
                <!--IDFC-TW PIVOT SALARY(Incentive)-->
                <table>
                    <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;" class="T3">
                    {% for col in columns %}
                        <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;" >{{col}}</th>
                    {% endfor %}
                    </tr>
                    {% for row in excel %}
                        <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
                        {% for j in row %}
                            <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <div class="center">
                <p3 style="color:white; border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">FOS FIXED SALARY {{PROCESS}}-{{DEPARTMENT}} </p3>
                </div>
                <br>
                <!--Including Fix Salary-->
                <table class="T4">
                    <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
                    {% for col in columns2 %}
                        <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;" >{{col}}</th>
                    {% endfor %}
                    </tr>
                    {% for row in excel2 %}
                        <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
                        {% for j in row %}
                            <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br>
            <a CLASS="button" href="{% url 'basic_app:IDFC_TW_SALARY_FIXED_DOWNLOAD' %}">IDFC_TW_SALARY_FIXED_DOWNLOAD</a>
            <a CLASS="button" href="{% url 'basic_app:IDFC_TW_SALARY_INCENTIVE_PIVOT_DOWNLOAD' %}">IDFC_TW_SALARY_INCENTIVE_PIVOT_DOWNLOAD</a>
            <a CLASS="button" href="{% url 'basic_app:IDFC_TW_SALARY_INCENTIVE_DOWNLOAD' %}">IDFC_TW_SALARY_INCENTIVE_DOWNLOAD</a>
            <a CLASS="button" href="{% url 'basic_app:IDFC_TW_TC_SALARY_DOWNLOAD' %}">IDFC_TW_TC_SALARY_DOWNLOAD</a>
        {% endif %}
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'CD' %}
    {% if PROCESS == 'BAJAJ' %}
        <div class="center">
            <p3 style="color:white;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">BAJAJ_TC_SALARY</p3>
        </div>
        <br>
        <table class="T10">
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for col in columns12334 %}
                <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;" >{{col}}</th>
            {% endfor %}
            </tr>
            {% for row in excel12334 %}
                <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
                {% for j in row %}
                    <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
    <a class="button" href="{% url 'basic_app:BAJAJ_CD_SALARY_DOWNLOAD' %}">BAJAJ_CD_SALARY_DOWNLOAD</a>
    {% endif %}
{% endif %}


{% if DEPARTMENT == 'HL' %}
    {% if PROCESS == 'IDFC' %}
        <form method="post", enctype="multipart/form-data">
            {% csrf_token %}
            <p3 style="color:white;font-family:accidental presidency">IDFC_FOS_SALARY</p3>
            <button class="button1" type="submit">Salary-FOS</button>
        </form>
        <br>
        <div class="center">
            <p3 style="color:white;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">FOS INCENTIVE SALARY {{PROCESS}}-{{DEPARTMENT}}</p3>
        </div>
        <br>
        <!--IDFC-HL PIVOT SALARY(Incentive)-->
        <table class="T11" style="margin-left:80px;">
            <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
            {% for col in columns %}
                <th style="color:black;background-color:white;border:1px solid black;border-right:none;font-size:12px;border-top-width:3px;border-bottom-width:3px;" >{{col}}</th>
            {% endfor %}
            </tr>
            {% for row in excel %}
                <tr style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">
                {% for j in row %}
                    <td style="color:black;background-color:white;border:1px solid black;font-size:11px;font-weight:normal;text-align:center;border-top:none;border-right:none;">{{j}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
    <a CLASS="button" href="{% url 'basic_app:IDFC_HL_SALARY_DOWNLOAD' %}">IDFC_HL_SALARY_DOWNLOAD</a>
    <a CLASS="button" href="{% url 'basic_app:IDFC_HL_TL_INCENTIVE_DOWNLOAD' %}">IDFC_HL_TL_INCENTIVE_DOWNLOAD</a>
    <a CLASS="button" href="{% url 'basic_app:IDFC_HL_FINAL_SALARY_INCENTIVE_DOWNLOAD' %}">IDFC_HL_FINAL_SALARY_INCENTIVE_DOWNLOAD</a>
    {% endif %}
{% endif %}

{% if DEPARTMENT == 'TW' %}
    {% if PROCESS == 'IDFC' %}
        {% if Designation == 'TL' %}
            <p3 style="color:white;border: 2px solid #d3ae6d;  border-radius: 12px;   padding: 5px; width:190px;">Your Fixed Salary is: {{TL_SALARY}}</p3>
        {% endif %}
    {% endif %}
{% endif %}

<p3 style="color:white;">{{error}}</p3>

</body>
</html>