{% extends 'FirstLevel/base.html' %}
{% load static %}
{% block body_block %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'FirstLevel/css/vision_mission.css' %}">
  <title>VISION & MISSION</title>
</head>
<body>
  <h1 style="margin-bottom:0px;margin-top:100px;border-left-style:solid;border-left-width:0px; margin-left:110px; color:white">VISION, MISSION & VALUES</h1>
     <hr color="#d3ae6d" style="margin-left:115px; margin-right:140px;">
     <ol class="oll" style="width:400px;padding-bottom:10px;padding-left:20px;padding-top:0px;margin-top:0px;">
         <li>
           <a href="{% url 'basic_app:index' %}" style="padding-left:95px; margin-right:5px;">Home</a>
         </li>
         <li>
           <a href="{% url 'basic_app:vision' %}">Vision & Mission</a>
         </li>
     </ol>

     <div class="table1">
       <table style="width:635px;">
         <tr>
             <th><img src="{% static 'FirstLevel/images/vissionlogo1.png' %}"></th>
             <th><HR COLOR= "GREY" WIDTH= "100%" SIZE= "150 PIXEL" style="margin-bottom:25px;"></th>
             <th style="padding-bottom: 18px;">To be India’s leading cred-coll agency with complete focus on delivering performance for our brand partners while ensuring work transparency with complete data privacy & safety.</th>
         </tr>
       </table>
     </div>
     <br>
     <div class="table2">
       <table style="width: 639px;">
         <tr>
           <th><img src="{% static 'FirstLevel/images/missionlogo1.png' %}" style="padding-top: 0px;padding-bottom: 17px;padding-left: 10px;"></th>
             <th><HR COLOR= "GREY" WIDTH= "100%" SIZE= "150 PIXEL" style="margin-bottom:62px;margin-top:16px;"></th>
           <th style="padding-bottom: 33px;">Clear focus to deliver ON TIME IN FULL (OTIF) targets assigned by our brand partners with pace, people, processes and performance orientation.</th>
         </tr>
       </table>
     </div>

     <div class="table3">
       <table style="width:640px;">
         <tr>
           <th><img src="{% static 'FirstLevel/images/valueslogo1.png' %}" style="padding-top: 7px;" ></th>
             <th><HR COLOR= "GREY" WIDTH= "100%" SIZE= "150 PIXEL" style="margin-bottom:42px;"></th>
           <th style="padding-bottom: 33px;">Clear focus to deliver ON TIME IN FULL (OTIF) targets assigned by our brand partners with pace, people, processes and performance orientation.</th>
         </tr>
       </table>
     </div>
</body>
</html>
{% endblock %}