
BODY{
    BACKGROUND-REPEAT:NO-REPEAT;
    BACKGROUND-ATTACHMENT:FIXED;
    BACKGROUND-COLOR:BLACK;
    BACKGROUND-POSITION:50% 50% ;
    BACKGROUND-SIZE:600px 550px;
}

UL LI::after{
    content:'';
    width:0%;
    height:2px;
    background:rgba(211 ,174 , 109 ,255);
    display:block;
    transition:1s;
}

UL LI:hover::after{
    width:100%;
}

/* ------------------------------------------------MAINTAINING THE MARGIN AND PADDING OF WHOLE NAVE BAR--------------------- */

UL{
    MARGIN:0PX;
    PADDING: 2PX;
    LIST-STYLE: NONE;
    FLOAT:LEFT;
    BACKGROUND:NONE;
}

/* -----------------------------------------TO MAKE THE NAVBAR AT RIGHT-------------------------- */

.NAV{
    FLOAT:RIGHT;
    margin-right:26px;
    PADDING:34px 38px;
}

/* ----------------------------------------THIS IS FOR LOGO AT NAV BAR ------------------------- */

.IMG{
    WIDTH:50px;
    PADDING-LEFT:0px;
    PADDING-TOP:8px;
}

/* --------------------------------------------------DESIGN OF LOGIN BUTTON------------------------- */

ul.block A{
    TEXT-DECORATION:NONE;
    DISPLAY:BLOCK;
    PADDING:3px 13px;
    COLOR:BLACK;
    FONT-SIZE:17px;
    BORDER:1px SOLID BLACK;
    BORDER-RADIUS:20px;
    BACKGROUND:LINEAR-GRADIENT(-45deg, #FFE000 ,#e65c00);
    TRANSITION:0.25s;
    CURSOR:POINTER;
}

nav{
 width:1584px;
 }

         UL LI{
            FLOAT:left;
            WIDTH:160PX;
            HEIGHT:33PX;
            BACKGROUND:NONE;
            OPACITY:.8;
            LINE-HEIGHT:31PX;
            MARGIN-RIGHT: 3PX
            }

        UL LI A{
            TEXT-DECORATION: NONE;
            COLOR:WHITE;
            DISPLAY: BLOCK;
            TEXT-ALIGN: CENTER;
            FONT-SIZE: 15PX;
            }

             body{overflow:hidden;}
    ::-webkit-scrollbar {
    width: 0px;}

    @media (max-width:1200px){

    .nav{display:none;
    }
    }