body{
    background-color: black;
    background-attachment: fixed;
    background-position: 50% 50% ;
    background-size: 500px 450px;
    color: white;
}

h1{
    font-family: Accidental Presidency;
    font-size: 36px;
}

.container::-webkit-scrollbar{width:0px;
display:none;
}
body{overflow:scroll;}
    ::-webkit-scrollbar {
    width: 0px;}
OL
 {
  float: right;
  list-style: none;
  margin-right: 20px;
  position: relative;
}

OL LI
{  float: left;
  display: inline-block;
  background:none;
  margin:0 5px;
  width:147px;
  TEXT-ALIGN: CENTER;
  WIDTH: 140PX;
  HEIGHT: 33PX;
  BACKGROUND: NONE;
    OPACITY: 26.8;
    LINE-HEIGHT: 31PX;
    MARGIN-RIGHT: 3PX;
    margin-bottom: 40px;
    PADDING-LEFT:0PX;
}
OL LI A
{
 TEXT-DECORATION: NONE;
 COLOR:#d3ae6d;
 FONT-SIZE: 13.5PX;
 padding:8px 1px;
 line-height: 30px;
}
OL LI A:HOVER{
box-shadow: 0 0 5px 0px rgb(211 ,174 ,109);
}
.hide{
display:none;
}
.frames1{
display:block;
}
OL.block a{
 text-decoration: none;
 height: 23px;
 width: 75px;
  display:block;
  padding-top: 8px;
  padding-left:17px;
  padding-right:6px;
  color: black;
  font-size: 14px;
  border-radius: 20px;
  background:linear-gradient(-45deg, #FFE000 ,#e65c00);
  cursor: pointer;

}

 @media (max-width:1200px) {

.frames1{
display:none;
}
.hide{
display:block;
}
}