        @font-face {
            font-family: Accidental Presidency ;
            src: url("{% static 'FirstLevel/fonts/accid_.ttf' %}");
            }

        @font-face {
            font-family: Arial Narrow;
            src: url("{% static 'FirstLevel/fonts/ARIALNB_2.ttf' %}");
            }
.princ{
    position: fixed;
    bottom: 25px;
    right: 10px;
    max-width: 200px;
    width: 10vw;
    min-width: 63px;
    height: auto;
}

.error{
color: white;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    position: relative;
    top: 29%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: none;
    text-align: center;
}

body{
    background: #34495e;
    background-size: cover;
    margin:0px;
    padding:0px;
    height: 700px ;
    color: black;
    opacity:550%;
    overflow-y:scroll;
    overflow-x:hidden;
}

H1{
    COLOR:WHITE;
    text-align: center;
}

.boxx{
    color: white;
    width: 22%;
    min-height: 457px;
    height: 60vh;
    min-width: 172px;
    max-width: 445px;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    top: 62%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #191919;
    opacity: 50%;
    border-radius: 15px;
    text-align: center;
}

.boxx h1{
    color: white;
}

a{
    text-decoration: none ;
    color: white;
}

.boxx input[type="text"] , .boxx input[type="password"]{
    border:0;
    background:none;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    background:#010101;
    padding:14px 10px;
    width:100%;
    max-width:185px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition:0.30s;
}

.gos{
color: white;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    position: relative;
    top: 27%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: none;
    text-align: center;
}


.boxx input[type="text"]:focus , .boxx input[type="password"]:focus{
    max-width:280px;
    border-color:#2ecc71;
}

.boxx input[type = "submit"]{
    border:0;
    background:none;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    background:#010101;
    padding:14px 10px;
    width:100%;
    max-width:185px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition:0.30s;
}
table {
    color: white;
    width: 100%;
    min-width: 172px;
    max-width: 445px;
    padding: 0px;
    position: relative;
    top: 14%;
    left: 57%;
    transform: translate(-50% , -50%);
    border-radius: 15px;
    text-align: center;
}

.boxx input[type="submit"]:hover{
    background:#2ecc71;
}

input::placeholder{
    color:white;
}

    ::-webkit-scrollbar {
    width: 0px;}
@media (max-width:1200px){
.boxx{
    color: white;
    width: 22%;
    min-height: 457px;
    height: 60vh;
    min-width: 172px;
    max-width: 445px;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    top: 64%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #191919;
    opacity: 50%;
    border-radius: 15px;
    text-align: center;
}
.error{
color: white;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    position: relative;
    top: 31%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: none;
    text-align: center;
}
}