body{
    background: #34495e;
    background-size: cover;
    margin:0px;
    padding:0px;
    height: 700px ;
    color: black;
    opacity:550%;
}

H1{
    COLOR:WHITE;
    text-align: center;
}

.boxx{
    color:white;
    width: 40%;
    max-width:445px;
    padding:40px;
    padding-top:30px;
    padding-bottom:20px;
    position:fixed;
    top: 60% ;
    left:50% ;
    transform:translate(-50% , -50%);
    background:#191919;
    opacity: 50%;
    border-radius: 15px;
    text-align:center;
}

.boxx h1{
    color: white;
}

a{
    text-decoration: none ;
    color: white;
}

.boxx input[type="text"] , .boxx input[type="password"]{
    border:0;
    background:none;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    background:#010101;
    padding:14px 10px;
    width:100%;
    max-width:185px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition:0.30s;
}

.gos{
    font-size:40px;
    margin-top:0px;
    font-family:Accidental Presidency;
}

.boxx input[type="text"]:focus , .boxx input[type="password"]:focus{
    max-width:280px;
    border-color:#2ecc71;
}

.boxx input[type = "submit"]{
     border:0;
    background:none;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    background:#010101;
    padding:14px 10px;
    width:100%;
    max-width:265px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition:0.30s;
    cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.boxx input[type="submit"]:hover{
    background:#2ecc71;
}

input::placeholder{
    color:white;
}