.table1{
    color: white;
    border-radius: 116px;
    margin-right: 0px;
    width:654px;
    height:182px;
    vertical-align: middle;
    text-align: center;
    font-size: 19px;
    float: left;
    animation: slideMe 2s ease-in;
}

@keyframes slideMe{
    0%{
        transform: skewX(3deg) translateX(-900px);
    }
    100%{
        transform: skew(0deg);
    }
}

.table1:hover{
    box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
}

.top{
    height:232px;
    width:825px;
}

img{
    height:109px;
    width:135px;
    padding-bottom: 50px;
    padding-top: 41px;
}

.table2{
    margin-top: 108px;
    color: white;
    border-radius: 116px;
    margin-right: 0px;
    width:654px;
    height:182px;
    vertical-align: middle;
    font-size: 19px;
    float:right;
    animation: slideMe2 4s ease-in;
}

@keyframes slideMe2{
    0%{
        transform: skewX(3deg) translateX(-1900px);
    }
    100%{
        transform: skew(0deg);
    }
}

.table2:hover{
    box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
}

.table3{
    margin-top: 85px;
    color: white;
    border-radius: 116px;
    width:654px;
    height:182px;
    animation: slideMe3 6s ease-in;
    font-size: 19px;
    float: left;
}

@keyframes slideMe3{
    0%{
        transform: skewX(3deg) translateX(-1800px);
    }
    100%{
        transform: skew(0deg);
    }
}

.table3:hover{
    box-shadow: 0 0 40px 0px rgb(211 ,174 ,109);
}