.service{
    margin-left: 45px;
    margin-right: 45px;
}

img{
    width:215px;
}

.img1{
    padding-left: 61px;
}

.img2{
    float:right;
    margin-right:70px;
    padding:30px;
}

.img3{
    margin-top: -3%;
    margin-left: 41%;
    margin-right: 34%;
    width:262px;
    height:146px;
}

.img4{
    float:right;
    padding-top: 23px;
    padding-left: 57px;
    padding-right:110px;
    width:165px;
}

.img5{
    padding-top: 120px;
    padding-left: 63px;
    width:565px;
}

@font-face {
          font-family: Accidental Presidency ;
          src: url("{% static 'FirstLevel/fonts/accid_.ttf' %}");
          }

      @font-face {
          font-family: Arial Narrow;
          src: url("{% static 'FirstLevel/fonts/ARIALNB_2.ttf' %}");
          }

      body{
          background-color: black;
          background-image: url(images/image3.png);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: 50% 50% ;
          background-size: 500px 450px;
          }

      h1{
        color: white;
        text-align: left;
        font-family: Accidental Presidency;
        margin-left: 33px;
        margin-bottom: 0px;
        font-size:36px;
        }


      ol.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color:none;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-left: 19px;
        }

      ol.breadcrumb li {
        display: inline;
        font-size: 18px;
        }

      ol.breadcrumb li+li:before {
        padding: 8px;
        color: #d3ae6d;
        content: "/\00a0";
        }

      ol.breadcrumb li a {
        color: white;
        text-decoration: none;
        }

      ol.breadcrumb li a:hover {
        text-decoration: underline;
        }
